    window-rule {
        geometry-corner-radius 8
        clip-to-geometry true
        draw-border-with-background false
    }

    window-rule {
        exclude app-id="chrome" is-active=true
        exclude app-id="org.kde.krita" is-active=true
        exclude app-id="chrome" title=r#"^.+YouTube.+$"#
        opacity 0.90

        background-effect {
            blur true
        }
    }

    window-rule {
        match is-window-cast-target=true

        border {
            on
            width 2
            active-color "#F0F"
            inactive-color "#F0F"
        }

        // focus-ring {
        //     width 2
        //     active-color "#FF0"
        //     inactive-color "#FF0"
        // }
    }

    window-rule {
        match app-id="spotify"
        opacity 0.85
    }

     // if you use steam you will probably like these
    window-rule {
        match app-id="steam"
        exclude title=r#"^[Ss]team$"#
    }

    window-rule {
       match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
       default-floating-position x=10 y=10 relative-to="bottom-right"
       open-focused false
    }

    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }
